<div>
  <div role="main" class="col-md-12 ml-sm-auto col-lg-10 px-4">
    <h2>Search</h2>
    <div
        class="d-flex flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <form>
        <div class="form-row">
          <label class="sr-only" for="searchTerm">Free text, tags and/or keywords...</label>
          <input maxlength="300" size="50" type="text" class="form-control mb-2" id="searchTerm"
                 placeholder="Free text, tags and/or keywords...">
          <button type="submit" ng-click="searchFreeText()" class="btn btn-primary mb-2">Search</button>
        </div>
      </form>
    </div>
  </div>

  <div role="main" class="col-md-12 ml-sm-auto col-lg-10 px-4">
    <h2 ng-if="searchResult">Result</h2>
    <div class="flex-wrap flex-md-nowrap">
      <div class="border-bottom" ng-repeat="s in searchResult">
        <a href="#!/view_project/{{s.host + '/' + s.organization + '/' + s.name + '/' + s.version}}"> {{s.host === "gh" ? "github" : s.host}}://{{s.organization}}/{{s.name}}/{{s.version}}</a>
        @
        {{s.version}}<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;{{s.description}}
        <div>{{s.excerpt}}</div>
      </div>
    </div>
  </div>

</div>
